<div class="container">
  <div class="col-sm-6">
    <h4>Become a premium member!</h4>
    <% if user_signed_in? && current_user.role == 'standard' %>
      <%= form_tag charges_path do %>
        <script class='stripe-button' src="https://checkout.stripe.com/checkout.js" data-key="<%= @stripe_btn_data[:key] %>" data-amount="<%= @stripe_btn_data[:amount] %>" data-description="<%= @stripe_btn_data[:description] %>" ></script>
      <% end %>
    <% elsif user_signed_in? && current_user.role == 'premium' %>
      <p><strong>Congratulations! You are already a premium member. To change your membership click: <br> <%= link_to 'Edit Profile', edit_user_registration_path, class: 'btn' %></strong></p>
    <% end %>
  </div>
</div>
